.tools {
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: -5px;
	width: 50px;
	margin-top: -88px;
	padding: 5px 5px 7px 9px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #dddddd 100%);
	background: -webkit-linear-gradient(top, #fafafa 0%, #dddddd 100%);
	background: linear-gradient(to bottom, #fafafa 0%, #dddddd 100%);
	border-radius: 5px;
	text-align: center;
}
.tools span {
	width: 33px;
	display: block;
	padding-left: 5px;
	margin-bottom: 4px;
}
.tools a {
	display: inline-block;
	margin-top: 7px;
	width: 25px;
	height: 25px;
	background: green;
	text-indent: -1000px;
	border-radius: 50%;
	transition: 0.2s;
}
.tools a:hover {
	opacity: 0.7;
}

.tools a.color-green {
	background-color: #26a55b;
}
.tools a.color-blue {
	background-color: #62cab3;
}
.tools a.color-orange {
	background-color: #f69323;
}
.tools a.color-sienna {
	background-color: #e96656;
}
.tools a.color-turquoise {
	background-color: #00bcd4;
}
.tools a.color-light-blue {
	background-color: #119ee6;
}
@media (max-width: 767px) {
	.tools {
		display: none;
	}
}