<meta charset="utf-8">
<title>OctoberCMS - {{ this.page.title }}</title>
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="author" content="OctoberCMS">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
<meta name="generator" content="OctoberCMS" />
{% styles %}

{# Vendor #}
<link href="{{ [
    'assets/vendor/nivo/nivo-slider.css',
    'assets/less/vendor.less',
]|theme }}" rel="stylesheet" />

{# Theme #}
<link href="{{ ['assets/less/theme.less']|theme }}" rel="stylesheet" />
