description = "Default layout"

[session]
security = "all"
redirect = "home"

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'meta' %}
    </head>
    <body>
        {variable tab="Header" type="text" name="tagline" label="Tagline"}{/variable}
        {variable tab="Header" type="mediafinder" mode="image" name="banner" label="Banner image"}{/variable}

        <!-- Top -->
        <div id="top-nav">
            <div class="container">
                <!-- Put anything here, social links? -->
            </div>
        </div>

        <!-- Header -->
        <header id="layout-header">
            {% partial "header" %}

            <!-- Nav -->
            <nav id="layout-nav">
                {% partial "nav" %}
            </nav>
        </header>

        <!-- Content -->
        <section id="layout-content">
            <div class="container">

                <div class="slider-wrapper title-style">
                    {% partial "title" %}
                </div>

                {% set hasChildren = (staticPage.parent ?: staticPage.page).children %}

                <div class="content-area with-padding">
                    {% if hasChildren %}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="module-sidemenu">
                                    {% partial 'sidemenu' page=staticPage.page %}
                                </div>
                            </div>
                            <div class="col-md-9">
                                {% page %}
                            </div>
                        </div>
                    {% else %}
                        {% page %}
                    {% endif %}
                </div>
            </div>
        </section>

        <!-- Slogan -->
        <div id="layout-slogan">
            <div class="container">
                <div class="service-strip"></div>
            </div>
        </div>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <!-- Scripts -->
        {% partial 'scripts' %}

    </body>
</html>
