description = "Home layout"

[account]
[session]

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
==
<?
use RainLab\Pages\Classes\Page;
use Boromir\Repair\Models\DeviceType;
use Boromir\Repair\Models\DeviceModel;
use Boromir\Repair\Models\Brand;

function onStart()
{
    $page = Page::find('chairs');
    $this['chairsPages'] = $page->getChildren();
    $this['devicetypes']=DeviceType::orderBy('sort_order')->get();
}
function onSelect(){
    $data=Request::only('brand','devicemodel');
    $this['devicetypes']=DeviceType::orderBy('sort_order')->get();
    if(isset($data['brand'])){
        if($brand=Brand::find($data['brand']))
        {
            $this['branddevicemodels']=DeviceModel::where(['brand_id'=>$data['brand']])->orderBy('sort_order')->get();
            $this['brand']=$brand;
        }
    }
    elseif(isset($data['devicemodel'])){
        if($devicemodel=Devicemodel::find($data['devicemodel']))
        {
            $this['devicemodel']=$devicemodel;
        }
    }
}

?>
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'meta' %}
    </head>
    <body>
        <!-- Top -->
        <div id="top-nav">
            <div class="container">
                <!-- Put anything here, social links? -->
            </div>
        </div>

        <!-- Header -->
        <header class="page-header sticky">
            <!-- Fixed navbar -->
            <nav class="navbar" id="slide-nav">
            {% partial "header" %}
            </nav>

        </header>

        <!-- Content  -->
        <div id="page-content">
            {% page %}


            <!-- Block -->
            <div class="block">
                <div class="container">
                    <h2 class="text-center">How Does <span class="color">It Works</span></h2>
                    <p class="info text-center">Get your device repaired in just three easy steps</p>
                    <div class="steps-wrap animation" data-animation="fadeIn" data-animation-delay="0s">
                        <div class="step-item active">
                            <div class="step-item-icon"><i class="icon-screen"></i>
                                <div class="step-item-active">
                                    <img src="{{'assets/images/step-arrow.png'|theme}})" alt="">
                                    <div class="tool-tip">You're here</div>
                                </div>
                            </div>
                            <h4 class="step-item-title"><b>Step 1.</b>
                                <div class="clearfix hidden-lg hidden-xs"></div> Tell us your Issue</h4>
                            <div class="step-item-text">
                                <p>Help us detailing the device problem to get it working properly again.</p>
                            </div>
                        </div>
                        <div class="step-item">
                            <div class="step-item-icon"><i class="icon-shopping-list"></i></div>
                            <h4 class="step-item-title"><b>Step 2.</b>
                                <div class="clearfix hidden-lg hidden-xs"></div> Get repair estimate</h4>
                            <div class="step-item-text">
                                <p>Check the repair Price estimate.</p>
                            </div>
                        </div>
                        <div class="step-item">
                            <div class="step-item-icon"><i class="icon-package"></i></div>
                            <h4 class="step-item-title"><b>Step 3.</b>
                                <div class="clearfix hidden-lg hidden-xs"></div> Bring or courier device</h4>
                            <div class="step-item-text">
                                <p>Handover your device at our office or chooses device pickup, courier and a doorstep service.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block bg-4">
                <div class="container">
                    <h2 class="h-lg text-center">Our Advantages</h2>
                    <p class="info text-center">We can Solve your Hardware and Software Problems</p>
                    <div class="advantages-wrap">
                        <div class="advantages-left animation" data-animation="fadeInLeft" data-animation-delay="0s">
                            <div class="advantages-num">
                                <div>
                                    <div class="advantages-num-number">01</div>
                                </div>
                                <div class="advantages-num-text">
                                    <h5 class="advantages-num-title">1 Year Warranty on ALL Repairs</h5>
                                    <p>We are fully stand behind their repairs with a full 1 year warranty from the date of repair!</p>
                                </div>
                            </div>
                            <div class="advantages-num">
                                <div>
                                    <div class="advantages-num-number">02</div>
                                </div>
                                <div class="advantages-num-text">
                                    <h5 class="advantages-num-title">Premium Grade Parts</h5>
                                    <p>We only use premium grade parts to repair your devices which are sourced from manufacturers who provide the highest uality available on the market.</p>
                                </div>
                            </div>
                        </div>
                        <div class="advantages-img animation" data-animation="fadeIn" data-animation-delay="0s">
                            <img src="{{'assets/images/advantages-center.png'|theme}})" alt="">
                        </div>
                        <div class="advantages-right animation" data-animation="fadeInRight" data-animation-delay="0s">
                            <div class="advantages-num">
                                <div>
                                    <div class="advantages-num-number">03</div>
                                </div>
                                <div class="advantages-num-text">
                                    <h5 class="advantages-num-title">Over 20,000 Devices Repairs</h5>
                                    <p>Rest easy knowing that our technicians are fully certified and have repaired thousands of devices before yours!</p>
                                </div>
                            </div>
                            <div class="advantages-num">
                                <div>
                                    <div class="advantages-num-number">04</div>
                                </div>
                                <div class="advantages-num-text">
                                    <h5 class="advantages-num-title">Low Price Guarantee</h5>
                                    <p>Getting your device repaired shouldn’t break the bank. Our low price guarantee ensures that we always offer the best price to our customers. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Block -->
            <!-- Block -->
            <div class="block">
                <div class="container">
                    <h2 class="h-lg text-center">Some Frequently <span class="color">Asked Questions</span></h2>
                    <p class="info text-center">We can Solve your Hardware and Software Problems</p>
                    <div class="panel-group">
                        <div class="faq-item">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" href="#faq1">How long will my repair take?<span class="caret-toggle closed">–</span><span class="caret-toggle opened">+</span></a></h4>
                                </div>
                                <div id="faq1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>Well that does depend on the nature of the repair. We endeavour to have the diagnosis complete within 24-48 hours. Dependent on the repair or service required it can be less than this.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" href="#faq2" class="collapsed">Do I need to make an appointment to bring my computer to you?<span class="caret-toggle closed">–</span><span class="caret-toggle opened">+</span></a></h4>
                                </div>
                                <div id="faq2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>We will always offer you a fixed price for the repair, for example if your laptop screen needs replacing we will give you a total price for the work before starting. In the event we need to diagnose the fault first we charge £30 labour which is waived if you go ahead with the repair. We don’t want you to have any nasty surprises; we want you to know exactly what your repair will cost before we complete the work.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" href="#faq3" class="collapsed">Can a technician visit my home or office?<span class="caret-toggle closed">–</span><span class="caret-toggle opened">+</span></a></h4>
                                </div>
                                <div id="faq3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Offering a personal service is top of our list; you will speak directly to the person working on your computer so you can explain the situation in detail. We turnaround repairs quickly, we don’t send anything away to service centres and we don’t quote 5+ days for repairs. We don’t charge any upfront costs, you only pay for work once it’s completed and when you are happy with it.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" href="#faq4" class="collapsed">Can you recover data from my hard drive?<span class="caret-toggle closed">–</span><span class="caret-toggle opened">+</span></a></h4>
                                </div>
                                <div id="faq4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Absolutely, we repair laptop screens all the time and it’s much cheaper than buying a new laptop. Contact Us for a quick quote, we have the majority of laptop screens in stock and can normally replace your screen the same day!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn" href="faq.html">View all questions<i class="icon-arrow-triangle"></i></a>
                    </div>
                </div>
            </div>
            <!-- //Block -->
            <!-- Block -->
            <div class="block">
                <div class="container">
                    <div class="text-center">
                        <h2 class="h-lg">Our Technicians are Ready
                            <div class="clearfix visible-xs"></div>to <span class="color">Fix Your Device!</span></h2>
                        <p class="info">From iPhones to iPads to the latest and greatest devices, your local office can repair your cell phone or tablet in 30-45 minutes at your home, office, or a neighborhood coffee shop.</p>
                        <div class="divider-sm"></div>
                        <h3 class="h-phone"><i class="icon-phone-receiver"></i>1-800-1234567</h3>
                        <div class="divider-sm"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center text-xs-left animation" data-animation="fadeInLeft" data-animation-delay="0s">
                            <h4>Professionally Certified</h4>
                            <p>Setting the industry standard for device repair, the cell phone and tablet repair expertise of every technician is ensured through Cell Phone Fix's Certification program.</p>
                        </div>
                        <div class="col-sm-4 text-center text-xs-left animation" data-animation="fadeIn" data-animation-delay="0s">
                            <h4>Rigorously Verified</h4>
                            <p>Multiple interviews, background checks, and certification requirements guarantee we are the best at repairing your devices.</p>
                        </div>
                        <div class="col-sm-4 text-center text-xs-left animation" data-animation="fadeInRight" data-animation-delay="0s">
                            <h4>Completely Prepared</h4>
                            <p>Rest assured that each repair made by your Cell Phone Fix is at a location of your choice and is also protected with our Lifetime Warranty.</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- //Block -->
            <!-- Block -->
            <div class="block nopad">
                <div class="container-fluid">
                    <div class="skew-row skew-row-img35" style="background-image: url( {{'assets/images/bg-skew-img-02.jpg'|theme}} )">
                        <div class="skew-row-left">
                            <div class="text text-white">
                                <h2 class="h-lg">Our Testimonials</h2>
                                <p class="info">See what our customers are saying about us</p>
                                <div class="testimonials-single-carousel-layout2">
                                    <div class="testimonials-single">
                                        <div class="inside">
                                            <div class="username">– Frances J. Nicastro</div>
                                            <p>Thank you for your services. My computer has not had any problems since you fixed it. Your employees, especially John Smith, did a great job in fixing the problem my computer had. Although it id take some time to completly fix the problem, I'm happy he was able to make the repairs. John took his time to explain what would happen and what I should look out for.</p>
                                        </div>
                                    </div>
                                    <div class="testimonials-single">
                                        <div class="inside">
                                            <div class="username">– Frances J. Nicastro</div>
                                            <p>Thank you for your services. My computer has not had any problems since you fixed it. Your employees, especially John Smith, did a great job in fixing the problem my computer had. Although it id take some time to completly fix the problem, I'm happy he was able to make the repairs. John took his time to explain what would happen and what I should look out for.</p>
                                        </div>
                                    </div>
                                    <div class="testimonials-single">
                                        <div class="inside">
                                            <div class="username">– Frances J. Nicastro</div>
                                            <p>Thank you for your services. My computer has not had any problems since you fixed it. Your employees, especially John Smith, did a great job in fixing the problem my computer had. Although it id take some time to completly fix the problem, I'm happy he was able to make the repairs. John took his time to explain what would happen and what I should look out for.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="skew-row-right">
                            <div class="skew">
                                <div class="img" style="background-image: url({{'assets/images/img-index-02.jpg'|theme}})"></div>
                                <img src="{{'assets/images/img-index-02.jpg'|theme}}" alt="" class="img-responsive visible-xs">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Block -->
            <!-- Block -->
            <div class="block">
                <div class="container">
                    <div class="text-center">
                        <h2 class="h-lg">15 Years of <span class="color">Experience</span></h2>
                        <p class="info">We are proud of our victories and achievements</p>
                        <div class="divider"></div>
                        <div class="row animation" data-animation="fadeIn" data-animation-delay="0s">
                            <div class="col-sm-3">
                                <div class="experience-item">
                                    <h5 class="experience-item-title">15</h5>
                                    <div class="experience-item-text">Years of experiences</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="experience-item active">
                                    <h5 class="experience-item-title">10000+</h5>
                                    <div class="experience-item-text">Devices Repaired</div>
                                    <div class="experience-item-active">
                                        <img src="{{'assets/images/step-arrow.png'|theme}})" alt="">
                                        <div class="tool-tip">Want to Fix Your?</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="experience-item">
                                    <h5 class="experience-item-title">50+</h5>
                                    <div class="experience-item-text">Skilled Technicians</div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="experience-item">
                                    <h5 class="experience-item-title">100%</h5>
                                    <div class="experience-item-text">Satisfied customers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Block -->

        </div>
        <!-- // Content  -->

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <script src="{{[
    'assets/js/plugins/slick.min.js',
    'assets/js/plugins/slider-effect.js',
    'assets/js/plugins/jquery.magnific-popup.min.js',
    'assets/js/plugins/moment.js',
    'assets/js/plugins/bootstrap-datetimepicker.min.js',
    'assets/js/plugins/jquery.waypoints.min.js',
    'assets/js/plugins/jquery.form.js',
    'assets/js/plugins/jquery.validate.min.js',
    'assets/js/custom.js',
    'assets/tools/tool.js',
    ]|theme }}"></script>
        <!-- Scripts -->
        {% partial 'scripts' %}

    </body>
</html>
