description = "Home1 layout"

[account]
[session]

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
==
<?
use RainLab\Pages\Classes\Page;

function onStart()
{
    $page = Page::find('chairs');
    $this['chairsPages'] = $page->getChildren();
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'meta' %}
    </head>
    <body>

        <!-- Top -->
        <div id="top-nav">
            <div class="container">
                <!-- Put anything here, social links? -->
            </div>
        </div>

        <!-- Header -->
        <header id="layout-header">
            {% partial "header" %}

            <!-- Nav -->
            <nav id="layout-nav">
                {% partial "nav" %}
            </nav>
        </header>

        <!-- Content -->
        <section id="layout-content">
            <div class="container">

                <div class="visible-xs visible-sm slider-wrapper title-style">
                    {% partial "title" %}
                </div>

                <div id="slider-wrapper" class="slider-wrapper hidden-xs hidden-sm">
                    <div id="slider">
                        {% for chairPage in chairsPages %}
                            {# {% set randomImage = random(['sofa', 'cafe', 'in-field', 'wheelchair', 'chairs']) %} #}
                            {% set randomImage = ['highchair', 'sofa', 'cafe', 'in-field', 'wheelchair', 'chairs', 'lake', 'rocking-chairs'] %}
                            {% set bannerImage = chairPage.viewBag.banner
                                ? chairPage.viewBag.banner|media
                                : ('assets/images/chairs/'~random(randomImage)~'.jpg')|theme %}

                            <img src="{{ bannerImage }}" alt="" title="" />
                        {% endfor %}
                    </div>
                    <div id="slider-menu" class="slider-menu">
                        <ul>
                            {% for chairPage in chairsPages %}
                                <li><a href="{{ chairPage.url|app }}"><span>{{ chairPage.title }}</span></a></li>
                            {% endfor %}
                            <li class="desc"><h2><span></span></h2></li>
                        </ul>
                    </div>
                    <div id="slider-text" class="slider-text">
                        {% for chairPage in chairsPages %}
                            <h2>{{ chairPage.viewBag.tagline }}</h2>
                        {% endfor %}
                    </div>
                    <div class="slider-more-info">
                        See all of our chairs!
                    </div>
                </div>

                <div class="row module-homes">
                    <div class="col-sm-6 col-md-4">
                        <div class="module-home">
                            {% page %}
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="module-home">
                            {% placeholder news title="Latest News" %}
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="module-home">
                            {% placeholder login title="Client Area" %}
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!-- Slogan -->
        <div id="layout-slogan">
            <div class="container">
                <div class="service-strip"></div>
            </div>
        </div>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <!-- Scripts -->
        {% partial 'scripts' %}
        <script src="{{ 'assets/javascript/home.js'|theme }}"></script>

    </body>
</html>
