[viewBag]
snippetCode = "models-form"
snippetName = "ModelsForm"
==
<?php
use Boromir\Repair\Models\DeviceType;
use Boromir\Repair\Models\DeviceModel;
use Boromir\Repair\Models\Brand;
function onStart(){

    $this['brands']=$brands=Brand::query()->getByDeviceType();
$this['devicetypes']=DeviceType::orderBy('sort_order')->get()->transform(function($item) use($brands){
if(isset($brands[$item->id])) $item['brands']=$brands[$item->id]->chunk(8); else $item['brands']=[];
return $item;
});
}

?>
==
<!-- Block -->
<div class="block">
    <div class="container">
        <h2 class="text-center">We Fix <span class="color">All Devices</span>, All Problems</h2>
        <p class="info text-center">Get your device repaired in just three easy steps</p>
        <ul class="nav nav-pills services-nav-pills">
            {% for devicetype in devicetypes %}
            <li class="{{ (devicetype.id==1)?'active':''}}">
                <a data-toggle="pill" href="#tab0{{devicetype.id}}">
                    <i class="{{ devicetype.icon }} "></i>
                    <div>
                        <span class="title">{{devicetype.name}}</span>
                        <span class="sub-title">{{devicetype.subtitle}}</span>
                    </div>
                </a>{% if devicetype.brands %}
                <div class="tab-dropdown">

                    {% for brands in devicetype.brands %}

                    <div class="tab-dropdown-col">
                        <ul>
                            {% for brand in brands %}

                                <li><a href="" data-request="onSelect"
                                       data-request-update="services-tab-content: '#services-tab-content'"
                                       data-request-data="brand:{{brand.id}}">{{brand.name}}</a>
                                </li>
                            {%endfor%}

                        </ul>
                    </div>
                    {%endfor%}

                </div>
                {% endif %}
            </li>
            {% endfor %}

        </ul>

        <div  id="services-tab-content">
            {% partial 'services-tab-content.htm' devicetypes=devicetypes %}
        </div>
    </div>
</div>
<!-- //Block -->
{% put scripts %}
<script>
$('#services-tab-content').on('ajaxUpdate', function() {
if ($('.services-tab-content, .prices-tab-content').length) {
    $('.js-services-tab-toggle').on('click', function (e) {
        $(this).parent().toggleClass('closed');
        e.preventDefault();
    })
    $('.service-tip').each(function () {
        var $this = $(this);
        $this.css({
            'top': $this.data('top'),
            'left': $this.data('left')
        });
    })
    $('.service-tip').on('click', function () {
        if ((window.innerWidth || $window.width()) < 769) {
            var tip = $(this).find('.service-tip-html').html(),
                $tipContainer = $(this).closest('.services-tab-content-text').find('.js-service-tooltip-mob .text');
            $tipContainer.parent().addClass('opened');
            $tipContainer.html(tip);
        }
    })
    $('.js-service-tooltip-close').on('click', function () {
        $('.service-tooltip-mob').removeClass('opened');
    })
    $('[data-sync]').on('click', function () {
        return false;
    })
    $('.service-tip').on('mouseenter', function () {
        var $this = $(this);
        $this.closest('.tab-pane').find('.services-tab-list li').removeClass('hovered');
        $this.closest('.tab-pane').find('.service-tip').removeClass('hovered');
        $this.closest('.tab-pane').find('.' + $(this).data('sync')).addClass('hovered');
    }).on('mouseleave', function () {
        var $this = $(this);
        $this.parent().removeClass('hovered');
        $this.closest('.tab-pane').find('.' + $(this).data('sync')).removeClass('hovered');
    })
    $('[data-sync]').on('mouseenter', function () {
        var $this = $(this);
        $this.parent().siblings().removeClass('hovered');
        $this.closest('.tab-pane').find('.service-tip').removeClass('hovered');
        $this.closest('.tab-pane').find('.' + $(this).data('sync')).addClass('hovered');
    }).on('mouseleave', function () {
        var $this = $(this);
        $this.parent().removeClass('hovered');
        $this.closest('.tab-pane').find('.' + $(this).data('sync')).removeClass('hovered');
    })
    $(window).on('resize', function () {
        $('.service-tooltip-mob').removeClass('opened');
    });
}
    $('a.nav-link').on('click', function () {
        $('.collapse.in').removeClass('in');
        $(this).parent().css('margin-bottom',$(this).parent().next('.repair-collapse').outerHeight(true));
    });
    $('.repair-collapse').css('width',$('#services-tab-content').outerWidth()).css('margin-top',$('.nav-item.navbar-left').outerHeight(true)+40);
$('.services-nav-pills li a').on('click',function () {
    $('.models-row').hide();
})

});
</script>
{% endput %}
