[viewBag]
snippetCode = "popup-modal"
snippetName = "Popup modals"
==

<!-- Block -->
<div class="block nopad-sm">
    <div class="container">
        <div class="dropdowns-box">

            <div class="dropdowns-box-item form-popup-wrap">
                <a href="#" class="form-popup-link"><i class="icon-payment"></i><span>Sell My Device</span></a>
                <div class="form-popup form-popup--left">
                    <div class="drop-form">
                        <div class="form-popup-close"><i class="icon-cancel"></i></div>
                        <h4>Sell Your Device</h4>
                        <form id="sellDeviceForm" class="selldevice-form" method="post" novalidate>
                            <div class="successform">
                                <p>Your message was sent successfully!</p>
                            </div>
                            <div class="errorform">
                                <p>Something went wrong, try refreshing and submitting the form again.</p>
                            </div>
                            <div class="wrap-input-row">
                                <div class="input-half pull-left">
                                    <label class="label--over">Your Name</label>
                                    <input type="text" name="name">
                                </div>
                                <div class="input-half pull-right">
                                    <label class="label--over">Your Email</label>
                                    <input type="text" name="email">
                                </div>
                            </div>
                            <div class="wrap-input-row">
                                <div class="input-half pull-left">
                                    <label class="label--over">Your Phone</label>
                                    <input type="text" name="phone">
                                </div>
                                <div class="input-half pull-right">
                                    <label class="label--over">Your Address</label>
                                    <input type="text" name="address">
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="wrap-input-row">
                                <div class="input-half pull-left">
                                    <label class="label--over">Device Type</label>
                                    <div class="select-wrapper">
                                        <select name="selecttype" class="form-control">
                                            {%for devicetype in devicetypes%}
                                            <option value="{{devicetype.id}}">{{devicetype.name}}</option>
                                            {% endfor%}
                                        </select>
                                    </div>
                                </div>
                                <div class="input-half pull-right">
                                    <label class="label--over">Device Brand</label>
                                    <input type="text" name="selectbrand">
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="wrap-input-row">
                                <div class="input-half pull-left">
                                    <label class="label--over">Device Model</label>
                                    <input type="text" name="selectmodel">
                                </div>
                                <div class="input-half pull-right">
                                    <label class="label--over">Device Photo</label>
                                    <div class="form-control dflex">
                                        <label class="upload">
                                            <input type="file" /><span>Choose File...</span>
                                        </label>
                                        <input class="upload-path" name="device-photo" disabled>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn"><span>Sell Request</span><i class="icon-arrow-triangle"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <!--<div class="dropdowns-box-item">
                <a href="#footer-map" class="scrollto"><i class="icon-placeholder"></i><span>Find a Location</span></a>
            </div>-->
            <div class="dropdowns-box-item form-popup-wrap">
                <a href="#" class="form-popup-link"><i class="icon-calendar-2"></i><span>Make an Appointment</span></a>
                <div class="form-popup form-popup--right">
                    <div class="drop-form">
                        <div class="form-popup-close"><i class="icon-cancel"></i></div>
                        <h4>Make an Appointment</h4>
                        <form id="makeAppointmentForm" class="appointment-form" method="post" novalidate>
                            <div class="successform">
                                <p>Your message was sent successfully!</p>
                            </div>
                            <div class="errorform">
                                <p>Something went wrong, try refreshing and submitting the form again.</p>
                            </div>
                            <div class="wrap-input-row">
                                <div class="input-half pull-left">
                                    <label class="label--over">Your Name</label>
                                    <input type="text" name="name">
                                </div>
                                <div class="input-half pull-right">
                                    <label class="label--over">Your Email</label>
                                    <input type="text" name="email">
                                </div>
                            </div>
                            <div class="wrap-input-row">
                                <div class="input-half pull-left">
                                    <label class="label--over">Your Phone</label>
                                    <input type="text" name="phone">
                                </div>
                                <div class="input-half pull-right">
                                    <label class="label--over">Your Address</label>
                                    <input type="text" name="address">
                                </div>
                            </div>
                            <div class="wrap-input-row">
                                <div class="input-half pull-left">
                                    <label class="label--over">Date</label>
                                    <div class="datetimepicker-wrap">
                                        <input type="text" name="date" class="form-control datetimepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="wrap-input-row">
                                <div class="input-half pull-left">
                                    <label class="label--over">Device Type</label>
                                    <div class="select-wrapper">
                                        <select name="selecttype" class="form-control">
                                            {%for devicetype in devicetypes%}
                                            <option value="{{devicetype.id}}">{{devicetype.name}}</option>
                                            {% endfor%}
                                        </select>
                                    </div>
                                </div>
                                <div class="input-half pull-right">
                                    <label class="label--over">Device Brand</label>
                                    <input type="text" name="selectbrand">
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="wrap-input-row">
                                <div class="input-half pull-left">
                                    <label class="label--over">Device Model</label>
                                    <input type="text" name="selectmodel">
                                </div>
                                <div class="input-half pull-right">
                                    <label class="label--over">Device Photo</label>
                                    <div class="form-control dflex">
                                        <label class="upload">
                                            <input type="file" /><span>Choose File...</span>
                                        </label>
                                        <input class="upload-path" name="device-photo" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-input-row">
                                <div class="input-full">
                                    <label class="label--over">Tell us about your problem</label>
                                    <textarea name="message" class="input-full"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn"><span>Appointment</span><i class="icon-arrow-triangle"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Block -->
