[viewBag]
snippetCode = "slider"
snippetName = "Sliders"

[SliderComponent]
==
<!-- Slider -->
            <div id="mainSliderWrapper">
                <div id="mainSlider">
                    {% for slider in SliderComponent.sliders %}
                    <div class="slide">
                        <div class="img--holder" style="background-image: url( {{ slider.image.path }} );"></div>
                        <div class="slide-content center">
                            <div class="vert-wrap">
                                <div class="vert">
                                    <h4 data-animation="fadeInUp" data-delay="0.25s">{{slider.title}}</h4>
                                    <h3 data-animation="fadeInUp" data-delay="0s">{{slider.tagline}}</h3>
                                    <a href="services.html" class="btn" data-animation="fadeInUp" data-delay="0.5s">Price estimate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a href="#" class="scroll-bottom js-scroll-bottom"><i class="icon-mouse-1"></i></a>
            </div>
            <!-- Slider -->
