[viewBag]
title = "Home"
url = "/"
layout = "home"
is_hidden = 0
navigation_hidden = 0

[SliderComponent]
==
<figure data-snippet="slider">&nbsp;</figure>
<figure data-snippet="popup-modal">&nbsp;</figure>
<figure data-snippet="models-form">&nbsp;</figure>

<p>
	<br>
</p>