[staticMenu footerMenu]
code = "footer-menu"
==
<!-- Footer -->
<div class="page-footer">
    <div class="footer-content">
        <div class="back-to-top"><a href="#top"><span class="icon icon-mouse-scroll"></span></a></div>
        <div class="container">
            {% if footerMenu.menuItems %}
            <ul class="footer-menu">
                {% for item in footerMenu.menuItems %}
                <li class="{{ item.isActive ? 'active' : '' }}"><a href="{{item.url}}">{{ item.title }} </a></li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="social-links">
                <ul>
                    <li>
                        <a class="icon icon-facebook" href="#"></a>
                    </li>
                    <li>
                        <a class="icon icon-twitter" href="#"></a>
                    </li>
                    <li>
                        <a class="icon icon-google-plus" href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="footer-phone">
                <i class="icon icon-phone-receiver"></i>Call Us to Our Office <span class="number">+1-800-1234567</span>
            </div>
            <div class="row footer-columns">
                <div class="col-lg-2 visible-lg"></div>
                <div class="col-sm-4 col-lg-3">
                    <div class="contact-info"><i class="icon icon-placeholder-for-map"></i>5604 Willow Crossing Ct,
                        <br> Clifton, VA, 20124</div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="contact-info"><i class="icon icon-clock"></i>Mon-Fri: 7:00am-7:00pm
                        <br> Sat-Sun: 10:00am-5:00pm</div>
                </div>
                <div class="col-lg-2 visible-lg"></div>
                <div class="col-sm-4 col-lg-3">
                    <div class="contact-info"><i class="icon icon-mail-black"></i><a href="mailto:noreply@envato.com">noreply@envato.com</a></div>
                </div>
            </div>
            <div class="copyright">© 2017 Computer Repair. <span>All Rights Reserved.</span></div>
            <div class="footer-links text-center">
                <a href="about.html">Terms and Conditions</a>
                <a href="about.html">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
<!-- //Footer -->

