<div class="container">
    <div class="navbar-header">
        <div class="header-info-mobile">
            <div class="header-info-mobile-inside">
                <p><i class="icon icon-placeholder-for-map"></i>5604 Willow Crossing Ct, Clifton, VA, 20124</p>
                <p><i class="icon icon-phone-receiver"></i>+1-800-1234567</p>
                <p><i class="icon icon-mail-black"></i><a href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                <p><i class="icon icon-clock"></i>Mon-Fri: 7:00 am - 7:00 pm, Sat-Sun: 10:00 am - 5:00 pm</p>
            </div>
        </div>
        <div class="header-info-toggle"><i class="icon-angle-down js-info-toggle"></i></div>
        <div class="header-top">
            <div class="logo">
                <a href="index.html">
                    <span class="hidden-xs hidden-sm"><img src="{{'assets/images/logo.png'|theme}}" alt="Logo"></span>
                    <span class="visible-xs visible-sm"><img src="{{'assets/images/logo-mobile.png'|theme}}" alt="Logo"></span>
                </a>
            </div>
            <div class="header-top-right">
                <div class="header-top-info">
                    <i class="icon icon-placeholder-for-map"></i>5604 Willow Crossing Ct,
                    <br>Clifton, VA, 20124
                </div>
                <div class="header-top-info">
                    <i class="icon icon-clock"></i>Mon-Fri: 7:00am-7:00pm
                    <br>Sat-Sun: 10:00am-5:00pm
                </div>
                <div class="phone">
                    <div class="phone-wrapper">
                        <i class="icon icon-phone-receiver"></i>
                        <div class="above-number">Need tech support?</div>
                        <div class="number"><span>+1-800-1234567</span></div>
                    </div>
                    <div class="right-text">
                        <div class="item arrow animation hoveranimation" data-animation="rotateInUpRight" data-animation-delay="0.5s"><img src="{{'assets/images/call-us-arrow-1.png'|theme}}" alt=""></div>
                        <div class="item text1 animation hoveranimation" data-animation="fadeInUp" data-animation-delay="0.75s"><img src="{{'assets/images/call-us-arrow-2.png'|theme}}" alt=""></div>
                        <div class="item text2 animation hoveranimation" data-animation="fadeInUp" data-animation-delay="1s"><img src="{{'assets/images/call-us-arrow-3.png'|theme}}" alt=""></div>
                    </div>
                </div>
                <button type="button" class="navbar-toggle js-navbar-toggle"><i class="icon icon-interface icon-menu"></i><i class="icon icon-cancel"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="menu-wrap">
    <div class="container">
        {% partial "nav" %}
        <div class="nav-right">
            <div class="social-links-header hidden-sm hidden-xs">
                <ul>
                    <li>
                        <a class="icon icon-facebook" href="#"></a>
                    </li>
                    <li>
                        <a class="icon icon-twitter" href="#"></a>
                    </li>
                    <li>
                        <a class="icon icon-google-plus" href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="header-search">
                <form class="navbar-form navbar-right navbar-form-search" role="search">
                    <div class="search-form-container hdn" id="search-input-container">
                        <div class="search-input-group">
                            <button type="button" id="hide-search-input-container"><span class="icon-cancel-music" aria-hidden="true"></span></button>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="search-button"><span class="icon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>
