<meta charset="utf-8">
<title>{{app.name}} - {{ this.page.title }}</title>
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="author" content="Boromir">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{{ 'assets/images/favicon.ico'|theme }}" />
<meta name="generator" content="Boromir" />
{% styles %}

{# Vendor #}
<link href="{{ [
    'assets/css/plugins/bootstrap.min.css',
    'assets/css/plugins/bootstrap-submenu.css',
    'assets/css/plugins/animate.min.css',
    'assets/css/plugins/slick.css',
    'assets/css/plugins/magnific-popup.css',
    'assets/css/plugins/bootstrap-datetimepicker.css',
    'assets/css/custom.css',
    'assets/css/colors/custom-color-green.css',
    'assets/css/colors/custom-color-light-blue.css',
    'assets/css/colors/custom-color-orange.css',
    'assets/css/colors/custom-color-sienna.css',
    'assets/css/colors/custom-color-turquoise.css',
    'assets/tools/tools.css',
    'assets/iconfont/style.css',
    'assets/css/css.css'
]|theme }}" rel="stylesheet" />
<script type="text/javascript" src="{{[
    'assets/js/jquery.js',
    'assets/js/plugins/bootstrap.min.js',
    'assets/js/html5shiv.min.js',
    'assets/js/respond.min.js',
]|theme}}"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places"></script>

