
{# Custom navigation implementation that only shows 2 levels deep #}

{% import _self as nav %}

{% macro render_menu(items) %}
    {% import _self as nav %}

    {% for item in items %}
        <li class="{{ item.items ? 'dropdown' : '' }} {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }}">
            <a class="shadow-effect" href="{{ item.url }}" {% if item.items %} data-toggle="dropdown" data-submenu="" {% endif %} >{{ item.title }} {% if item.items %}<span class="ecaret"></span>{% endif %}</a>

            {% if item.items %}
                <ul class="dropdown-menu" role="menu">{{ nav.render_menu(item.items) }}</ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<div id="slidemenu" data-hover="dropdown" data-animations="fadeIn">
    <a href="#" class="slidemenu-close js-navbar-toggle"><i class="icon icon-cancel"></i>CLOSE MENU</a>

    {% if mainMenu.menuItems %}
    <ul class="nav navbar-nav">
            {{ nav.render_menu(mainMenu.menuItems) }}
        </ul>
    {% endif %}
</div>
