<div class="tab-content services-tab-content">
    {% if branddevicemodels %}

    <div class=" container models-row">
        <div class="row">
            <ul class="nav nav-pills nav-fill flex-column">
                <h5> Select {{brand.name}} device model </h5>
                <br>

                {% for devicemodel in branddevicemodels %}

                <li class="nav-item"><a class="nav-link" href="" data-request="onSelect"
                                        data-request-update="services-tab-content: '#services-tab-content'"
                                        data-request-data="devicemodel:{{devicemodel.id}}">{{devicemodel.name}}</a>
                </li>

                {%endfor%}

            </ul>
        </div>
    </div>
    {% elseif devicemodel %}

    <div class="tab-pane fade in active">
        <div class="row no-gutters dflex">
            <div class="col-md-12 cols-wrap">
                <div class="col-select" style="flex: 100%">
                    <div class="col-title">{{devicemodel.name}}</div>

                    <ul class="nav nav-pills nav-fill">
                        {% for repair in devicemodel.repairs %}
                        <li class="nav-item navbar-left">
                            <a class="nav-link" href="#collapseRepair{{repair.id}}" data-toggle="collapse" role="button" >
                                <div class="card" style="padding:0;padding-top: 1rem;">
                                    <img src="{{repair.image.path}}" class="img-thumbnail">
                                    <div class="card-body">
                                        <p class="card-title" style="font-size: 13px;line-height: 14px;">{{repair.name}}</p>
                                    </div>
                                </div>
                            </a>

                        </li>
                        <div class="repair-collapse">
                            <div class="collapse " id="collapseRepair{{repair.id}}" >
                                <div class="card card-body col-md-12 table-bordered text-left">
                                    <div class="description table-bordered" style="margin-top: 20px; padding:10px">{{repair.description}}</div>
                                    <div class="feed-block" style="padding-top: 10px">
                                        <h5>{{devicemodel.name}} {{repair.name}} </h5>
                                        <p>Repair cost {{repair.price}}$</p>
                                    </div>
                                    <div class="col-price-bottom text-center">
                                        <div class="divider-sm"></div>
                                        <button class="btn modal-popup-link" href="#modalForm2" data-toggle="modal">Book an Appointment<i class="icon-arrow-triangle"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="modalForm2" class="form-modal control-popup modal fade " tabindex="-1" role="dialog">
                            <div class="modal-dialog ">
                                <div class="drop-form">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        <h3>Make an Appointment</h3>
                                        <form id="makeAppointmentForm" class="appointment-form form-elements" method="post" novalidate="novalidate" role="form">
                                            <div class="successform">
                                                <p>Your message was sent successfully!</p>
                                            </div>
                                            <div class="errorform">
                                                <p>Something went wrong, try refreshing and submitting the form again.</p>
                                            </div>
                                            <label class="custom-switch">
                                                <input type="checkbox" />
                                                <span><span>On</span><span>Off</span></span>
                                                <a class="slide-button"></a>
                                            </label>
                                            <div class="wrap-input-row">
                                                <div class="input-half pull-left">
                                                    <label class="label--over">Your Name</label>
                                                    <input type="text" name="name">
                                                </div>
                                                <div class="input-half pull-right">
                                                    <label class="label--over">Your Email</label>
                                                    <input type="text" name="email">
                                                </div>
                                            </div>
                                            <div class="wrap-input-row">
                                                <div class="input-half pull-left">
                                                    <label class="label--over">Your Phone</label>
                                                    <input type="text" name="phone">
                                                </div>
                                                <div class="input-half pull-right">
                                                    <label class="label--over">Your Address</label>
                                                    <input type="text" name="address">
                                                </div>
                                            </div>
                                            <div class="wrap-input-row">
                                                <div class="input-half pull-left">
                                                    <label class="label--over">Date</label>
                                                    <div class="">
                                                        <input type="datetime-local" name="date" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="input-half pull-right">
                                                    <label class="label--over">Device Photo</label>
                                                    <div class="form-control dflex">
                                                        <label class="upload">
                                                            <input type="file" /><span>Choose File...</span>
                                                        </label>
                                                        <input class="upload-path" name="device-photo" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-divider"></div>

                                            <div class="wrap-input-row">
                                                <div class="input-full">
                                                    <label class="label--over">Tell us about your problem</label>
                                                    <textarea name="message" class="input-full"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn"><span>Appointment</span><i class="icon-arrow-triangle"></i></button>
                                        </form>
                                    </div>
                                </div>
                        </div>






                        {% endfor %}
                    </ul>


                </div>

            </div>
        </div>
    </div>

    {% endif %}
    {% for devicetype in devicetypes %}
    {%if devicetype.uniquetext=='phone'%}
    <div id="tab01" class="tab-pane fade in {{ (devicetype.id==1 and not devicemodel and not branddevicemodels )?'active':''}}">
        <div class="services-tab-img"
             style="background-image: url( {{'assets/images/service-tab-1-mob.jpg'|theme}} );">
            <img src="{{'assets/images/service-tab-1.jpg'|theme}}" alt="">
        </div>
        <div class="services-tab-content-text">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services-tab-list-wrap closed">
                        <ul class="services-tab-list">
                            <li class="hovered"><a href="#" data-sync="service-tip-01"><span class="icon"><i
                                class="icon-screen"></i></span><span class="text">Cracked Screen</span></a></li>
                            <li><a href="#" data-sync="service-tip-02"><span class="icon"><i
                                class="icon-plug"></i></span><span class="text">Broken Charging Port</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-03"><span class="icon"><i
                                class="icon-microphone"></i></span><span
                                class="text">Microphone doesn't work</span></a></li>
                            <li><a href="#" data-sync="service-tip-04"><span class="icon"><i
                                class="icon-touch"></i></span><span class="text">Faulty home button</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-05"><span class="icon"><i
                                class="icon-volume"></i></span><span class="text">DEAD Ear Speaker</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-06"><span class="icon"><i
                                class="icon-photo-camera"></i></span><span
                                class="text">DEAD Front / Rear Camera</span></a></li>
                            <li><a href="#" data-sync="service-tip-07"><span class="icon"><i
                                class="icon-power-button"></i></span><span
                                class="text">Faulty Power Button</span></a></li>
                            <li><a href="#" data-sync="service-tip-08"><span class="icon"><i
                                class="icon-battery-status"></i></span><span
                                class="text">Depleting/dead Battery </span></a></li>
                        </ul>
                        <div class="services-tab-toggle js-services-tab-toggle">
                            <i class="icon-back"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="service-tip-wrap">
                        <div class="service-tip-wrap">
                            <div class="service-tip tip-right service-tip-01 hovered" data-left="40%"
                                 data-top="54%">
                                <span><i class="icon-screen"></i></span>
                                <div id="tip01" class="service-tip-html">
                                    <h6>SCREEN</h6>If the glass/LCD is cracked, has a distorted image, no image,
                                    or is malfunctioning.
                                </div>
                            </div>
                            <div class="service-tip tip-right service-tip-02" data-left="9%" data-top="60%">
                                <span><i class="icon-plug"></i></span>
                                <div id="tip01" class="service-tip-html">
                                    <h6>Charging Port</h6>Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit.
                                </div>
                            </div>
                            <div class="service-tip tip-right service-tip-03" data-left="4%" data-top="88%">
                                <span><i class="icon-microphone"></i></span>
                                <div id="tip01" class="service-tip-html">
                                    <h6>Microphone</h6>Aliquam id fugiat, harum voluptas dolore corporis.
                                </div>
                            </div>
                            <div class="service-tip tip-right service-tip-04" data-left="15%" data-top="88%">
                                <span><i class="icon-touch"></i></span>
                                <div id="tip01" class="service-tip-html">
                                    <h6>Home button</h6>Ratione corporis laboriosam, nulla blanditiis sint.
                                </div>
                            </div>
                            <div class="service-tip tip-right service-tip-05" data-left="50%" data-top="33%">
                                <span><i class="icon-volume"></i></span>
                                <div id="tip01" class="service-tip-html">
                                    <h6>Speaker</h6>Dolorum repellat ad sed fugit consequuntur, eveniet
                                    eligendi? Sit.
                                </div>
                            </div>
                            <div class="service-tip tip-right service-tip-06" data-left="45%" data-top="5%">
                                <span><i class="icon-photo-camera"></i></span>
                                <div id="tip01" class="service-tip-html">
                                    <h6>Camera</h6>Commodi consequuntur ipsa laudantium veritatis provident
                                    nobis.
                                </div>
                            </div>
                            <div class="service-tip tip-right service-tip-07" data-left="28%" data-top="9%">
                                <span><i class="icon-power-button"></i></span>
                                <div id="tip01" class="service-tip-html">
                                    <h6>Power Button</h6>Ipsum excepturi eum possimus dolorem id aut deleniti
                                    doloremque.
                                </div>
                            </div>
                            <div class="service-tip tip-right service-tip-08" data-left="28%" data-top="33%">
                                <span><i class="icon-battery-status"></i></span>
                                <div id="tip01" class="service-tip-html">
                                    <h6>Battery</h6>Vero corporis incidunt dolores libero, velit.
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="services.html" class="btn"><span>select your device</span><i
                        class="icon-arrow-triangle"></i></a>
                    <div class="service-tooltip-mob js-service-tooltip-mob">
                        <div class="close js-service-tooltip-close"><i class="icon-cancel"></i></div>
                        <div class="text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {%if devicetype.uniquetext=='tablet'%}
    <div id="tab02" class="tab-pane fade">
        <div class="services-tab-img"
             style="background-image: url({{'assets/images/service-tab-2-mob.jpg'|theme}})">
            <img src="{{'assets/images/service-tab-2.jpg'|theme}}" alt="">
        </div>
        <div class="services-tab-content-text">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services-tab-list-wrap closed">
                        <ul class="services-tab-list">
                            <li class="hovered"><a href="#" data-sync="service-tip-01"><span class="icon"><i
                                class="icon-screen"></i></span><span class="text">Cracked Screen</span></a></li>
                            <li><a href="#" data-sync="service-tip-02"><span class="icon"><i
                                class="icon-plug"></i></span><span class="text">Broken Charging Port</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-03"><span class="icon"><i
                                class="icon-microphone"></i></span><span
                                class="text">Microphone doesn't work</span></a></li>
                            <li><a href="#" data-sync="service-tip-04"><span class="icon"><i
                                class="icon-touch"></i></span><span class="text">Faulty home button</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-05"><span class="icon"><i
                                class="icon-volume"></i></span><span class="text">DEAD Ear Speaker</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-06"><span class="icon"><i
                                class="icon-photo-camera"></i></span><span
                                class="text">DEAD Front / Rear Camera</span></a></li>
                            <li><a href="#" data-sync="service-tip-07"><span class="icon"><i
                                class="icon-power-button"></i></span><span
                                class="text">Faulty Power Button</span></a></li>
                            <li><a href="#" data-sync="service-tip-08"><span class="icon"><i
                                class="icon-battery-status"></i></span><span
                                class="text">Depleting/dead Battery </span></a></li>
                        </ul>
                        <div class="services-tab-toggle js-services-tab-toggle">
                            <i class="icon-back"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="service-tip-wrap">
                        <div class="service-tip tip-right service-tip-01 hovered" data-left="43%"
                             data-top="17%">
                            <span><i class="icon-screen"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>SCREEN</h6>If the glass/LCD is cracked, has a distorted image, no image, or
                                is malfunctioning.
                            </div>
                        </div>
                        <div class="service-tip tip-left service-tip-02" data-left="68%" data-top="61%">
                            <span><i class="icon-plug"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Charging Port</h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                        <div class="service-tip tip-left service-tip-03" data-left="69%" data-top="74%">
                            <span><i class="icon-microphone"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Microphone</h6>Aliquam id fugiat, harum voluptas dolore corporis.
                            </div>
                        </div>
                        <div class="service-tip tip-left service-tip-04" data-left="62%" data-top="51%">
                            <span><i class="icon-touch"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Home button</h6>Ratione corporis laboriosam, nulla blanditiis sint.
                            </div>
                        </div>
                        <div class="service-tip tip-left service-tip-05" data-left="72%" data-top="51%">
                            <span><i class="icon-volume"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Speaker</h6>Dolorum repellat ad sed fugit consequuntur, eveniet eligendi?
                                Sit.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-06" data-left="3%" data-top="22%">
                            <span><i class="icon-photo-camera"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Camera</h6>Commodi consequuntur ipsa laudantium veritatis provident nobis.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-07" data-left="28%" data-top="2%">
                            <span><i class="icon-power-button"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Power Button</h6>Ipsum excepturi eum possimus dolorem id aut deleniti
                                doloremque.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-08" data-left="33%" data-top="54%">
                            <span><i class="icon-battery-status"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Battery</h6>Vero corporis incidunt dolores libero, velit.
                            </div>
                        </div>
                    </div>
                    <a href="services.html" class="btn btn-left"><span>select your device</span><i
                        class="icon-arrow-triangle"></i></a>
                    <div class="service-tooltip-mob js-service-tooltip-mob">
                        <div class="close js-service-tooltip-close"><i class="icon-cancel"></i></div>
                        <div class="text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {%if devicetype.uniquetext=='computer'%}
    <div id="tab03" class="tab-pane fade">
        <div class="services-tab-img"
             style="background-image: url({{'assets/images/service-tab-3-mob.jpg'|theme}})">
            <img src="{{'assets/images/service-tab-3.jpg'|theme}}" alt="">
        </div>
        <div class="services-tab-content-text">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services-tab-list-wrap closed">
                        <ul class="services-tab-list">
                            <li class="hovered"><a href="#" data-sync="service-tip-01"><span class="icon"><i
                                class="icon-diagnostic"></i></span><span
                                class="text">Diagnosing Your Device</span></a></li>
                            <li><a href="#" data-sync="service-tip-02"><span class="icon"><i
                                class="icon-big-screen"></i></span><span class="text">SCREEN REPAIR</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-03"><span class="icon"><i
                                class="icon-plug"></i></span><span
                                class="text">POWER JACK REPLACEMENT</span></a></li>
                            <li><a href="#" data-sync="service-tip-04"><span class="icon"><i
                                class="icon-keyboard"></i></span><span class="text">KEYBOARD REPLACEMENT</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-05"><span class="icon"><i
                                class="icon-wiping"></i></span><span class="text">CLEANING SERVICE</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-06"><span class="icon"><i
                                class="icon-fan"></i></span><span class="text">FAN REPLACEMENT</span></a></li>
                            <li><a href="#" data-sync="service-tip-07"><span class="icon"><i
                                class="icon-battery-status"></i></span><span
                                class="text">Battery Replacement</span></a></li>
                            <li><a href="#" data-sync="service-tip-08"><span class="icon"><i
                                class="icon-settings"></i></span><span
                                class="text">Hardware & Software Installation</span></a>
                            </li>
                        </ul>
                        <div class="services-tab-toggle js-services-tab-toggle">
                            <i class="icon-back"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="service-tip-wrap">
                        <div class="service-tip tip-right service-tip-01 hovered" data-left="43%"
                             data-top="56%">
                            <span><i class="icon-diagnostic"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Diagnosing</h6>If the glass/LCD is cracked, has a distorted image, no image,
                                or is malfunctioning.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-02" data-left="37%" data-top="5%">
                            <span><i class="icon-big-screen"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>SCREEN</h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-03" data-left="10%" data-top="50%">
                            <span><i class="icon-plug"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>POWER</h6>Aliquam id fugiat, harum voluptas dolore corporis.
                            </div>
                        </div>
                        <div class="service-tip tip-left service-tip-04" data-left="60%" data-top="45%">
                            <span><i class="icon-keyboard"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>KEYBOARD</h6>Ratione corporis laboriosam, nulla blanditiis sint.
                            </div>
                        </div>
                        <div class="service-tip tip-left service-tip-05" data-left="79%" data-top="32%">
                            <span><i class="icon-wiping"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>CLEANING</h6>Dolorum repellat ad sed fugit consequuntur, eveniet eligendi?
                                Sit.
                            </div>
                        </div>
                        <div class="service-tip tip-left service-tip-06" data-left="60%" data-top="65%">
                            <span><i class="icon-fan"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>FAN</h6>Commodi consequuntur ipsa laudantium veritatis provident nobis.
                            </div>
                        </div>
                        <div class="service-tip tip-left service-tip-07" data-left="31%" data-top="80%">
                            <span><i class="icon-battery-status"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Battery</h6>Ipsum excepturi eum possimus dolorem id aut deleniti doloremque.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-08" data-left="17%" data-top="27%">
                            <span><i class="icon-settings"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Installation</h6>Vero corporis incidunt dolores libero, velit.
                            </div>
                        </div>
                    </div>
                    <a href="services.html" class="btn"><span>select your device</span><i
                        class="icon-arrow-triangle"></i></a>
                    <div class="service-tooltip-mob js-service-tooltip-mob">
                        <div class="close js-service-tooltip-close"><i class="icon-cancel"></i></div>
                        <div class="text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {%if devicetype.uniquetext=='others'%}
    <div id="tab04" class="tab-pane fade">
        <div class="services-tab-img"
             style="background-image: url({{'assets/images/service-tab-4-mob.jpg'|theme}})">
            <img src="{{'assets/images/service-tab-4.jpg'|theme}}" alt="">
        </div>
        <div class="services-tab-content-text">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services-tab-list-wrap closed">
                        <ul class="services-tab-list">
                            <li class="hovered"><a href="#" data-sync="service-tip-01"><span class="icon"><i
                                class="icon-hdmi"></i></span><span class="text">HDMI Port Replacement</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-02"><span class="icon"><i
                                class="icon-hard-disk"></i></span><span
                                class="text">Hard Drive Repair</span></a></li>
                            <li><a href="#" data-sync="service-tip-03"><span class="icon"><i
                                class="icon-fan"></i></span><span class="text">Fan Repair</span></a></li>
                            <li><a href="#" data-sync="service-tip-04"><span class="icon"><i
                                class="icon-power-button"></i></span><span
                                class="text">Faulty Power Supply</span></a></li>
                            <li><a href="#" data-sync="service-tip-05"><span class="icon"><i
                                class="icon-keyboard"></i></span><span class="text">KEYBOARD REPLACEMENT</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-06"><span class="icon"><i
                                class="icon-optical-drive"></i></span><span
                                class="text">Optical drive repair</span></a></li>
                            <li><a href="#" data-sync="service-tip-07"><span class="icon"><i
                                class="icon-big-screen"></i></span><span class="text">Screen damage</span></a>
                            </li>
                            <li><a href="#" data-sync="service-tip-08"><span class="icon"><i
                                class="icon-battery-status"></i></span><span class="text">Battery service</span></a>
                            </li>
                        </ul>
                        <div class="services-tab-toggle js-services-tab-toggle">
                            <i class="icon-back"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="service-tip-wrap">
                        <div class="service-tip tip-right service-tip-01 hovered" data-left="52%"
                             data-top="43%">
                            <span><i class="icon-hdmi"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Hdmi</h6>Acere at assumenda unde veniam temporibus dolorem dolor animi
                                perspiciatis.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-02" data-left="18%" data-top="18%">
                            <span><i class="icon-hard-disk"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Hard Drive</h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-03" data-left="34%" data-top="13%">
                            <span><i class="icon-fan"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Fan</h6>Aliquam id fugiat, harum voluptas dolore corporis.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-04" data-left="36%" data-top="30%">
                            <span><i class="icon-power-button"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Power</h6>Ratione corporis laboriosam, nulla blanditiis sint.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-05" data-left="46%" data-top="22%">
                            <span><i class="icon-keyboard"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Keyboard</h6>Dolorum repellat ad sed fugit consequuntur, eveniet eligendi?
                                Sit.
                            </div>
                        </div>
                        <div class="service-tip tip-right service-tip-06" data-left="21%" data-top="38%">
                            <span><i class="icon-optical-drive"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Optical</h6>Commodi consequuntur ipsa laudantium veritatis provident nobis.
                            </div>
                        </div>
                        <div class="service-tip tip-left service-tip-07" data-left="48%" data-top="76%">
                            <span><i class="icon-big-screen"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Screen</h6>Ipsum excepturi eum possimus dolorem id aut deleniti doloremque.
                            </div>
                        </div>
                        <div class="service-tip tip-left service-tip-08" data-left="32%" data-top="69%">
                            <span><i class="icon-battery-status"></i></span>
                            <div id="tip01" class="service-tip-html">
                                <h6>Battery</h6>Vero corporis incidunt dolores libero, velit.
                            </div>
                        </div>
                    </div>
                    <a href="services.html" class="btn"><span>select your device</span><i
                        class="icon-arrow-triangle"></i></a>
                    <div class="service-tooltip-mob js-service-tooltip-mob">
                        <div class="close js-service-tooltip-close"><i class="icon-cancel"></i></div>
                        <div class="text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}



</div>

